body {
	padding-top: 40px;
}

ul {
	list-style: none;
}

.btn {
	margin-top: 1%;
}

/*Index*/

.homebg {
	background: url(bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
.search {
	text-align: center;
	padding-top: 10%;
}

.search h1, p {
	color: white;
}

#nav {
  opacity: 0.9;
}

/*Photos*/

.photosbg {
	background-color: #ecf0f1;
}

.page-header {
	text-align: center;
}

.thumbnails {
	margin-top: 5%;
}

.thumbnail,
.thumbnail img {
  border-radius: 100%;
  background-color: transparent;
  width: 90%;
}

/*About*/
.about {
	text-align: center;
	color: white;
	padding-top: 10%;
}

.about h1 {
	font-size: 2em;
}

.about p {
	font-size: 1.2em;
	width: 40%;
	margin-left: 30%;
}
.github{
	padding-top: 60px;
}

	@media screen and (max-width: 768px) {
	    body { padding-top: 40px; }
	    .about p {
			font-size: 1.2em;
			width: 92%;
			margin-left: 3%;
		}
	}
}
