/** {
	border: solid red 1px;
}*/

body {
  background: url(bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
	padding-top: 40px;
}

.search {
	text-align: center;
	padding-top: 10%;
}

.search h1, p {
	color: white;
}

#nav {
  opacity: 0.9;
}


.thumbnail {
  height: 330px;
  width: 330px;
  border-radius: 10000px;
}

.thumbnail img {
  border-radius: 1000px;
}

.thumbnails {
 margin-left: 60px;
}

	@media screen and (max-width: 768px) {
	    body { padding-top: 40px; }
	}
}
