<body class="homebg">
	<a href="https://github.com/Jamalp/places" target="_blank"><img class="github" style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	<div class="about animated fadeIn">
		<h1>PhoSho</h1>
		<p>
			PhoSho is a fun app to search for photos at any given location.  Locations are indexed by Foursquare, photos are given by Instagram. <br>Filters are all you, baby. <br>
			Enjoy
		</p>
	</div>
</body>