<body class="photosbg">
 <h1 class="page-header">You're checking out <%= params[:place].titleize %> <br />
    <small>
      In <%= params[:location].titleize %>
    </small>
  </h1>
  <ul class="thumbnails" >
    <% @photos.each do |photo| %>
      <li class="col-md-4">
        <div class="thumbnail img-responsive animated fadeInDown" rel="gallery">
          <% if photo.videos %>
            <%= image_tag photo.images.standard_resolution.url, class: "photo" %>
          <% else %>
            <%= image_tag photo.images.standard_resolution.url, class: "photo" %>
          <% end %>
        <% end %>
        </div>
      </li>
  </ul>
</body>
